 {{ 'bakuchiol-price.css' | asset_url | stylesheet_tag }}

<section class="bakuchiol-price page-width">
  <div class="bakuchiol-price__wrapper section-top">
    <div class="bakuchiol-price__image">
      <img src="{{ 'bakuchiol-price.png' | asset_url }}" width="925" height="925" loading="lazy"> 
    </div>

    <div class="bakuchiol-price__content">
      <div class="bakuchiol-price__content-top"> 
        <p class="bakuchiol-price__content-title">For all sKIN TYPES</p>
        <div class="bakuchiol-price__content-titles">
          <h2>Bakuchiol</h2>
          <h3>Age delay serum</h3>
        </div>

      <div class="bakuchiol-price__content-price">
        {% for block in section.blocks %}
          {% if block.settings.product != blank %}
            {% assign product = all_products[block.settings.product] %}

            <span class="product-price">
              {{ product.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <span class="product-compare-price">
                {{ product.compare_at_price_max | money }}
              </span>
            {% endif %}

            <span class="bakuchiol-price__label">25% OFF</span>
          {% endif %}
        {% endfor %}
      </div>

    </div>

      <div class="bakuchiol-price__content-bottom">
        <div class="bakuchiol-price__content-description">
          <p>A gentle yet powerful age-delay serum powered by 1.0% bakuchiol, the plant-based retinol alternative loved for its smoothing and brightening benefits..</p>
        </div>

        {% for block in section.blocks %}
          {% if block.type == 'product' and block.settings.product %}
            {% assign product = block.settings.product %}
            <a class="bakuchiol-price-link button-custom button-custom__black" href="{{ product.url }}">buy now</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="bakuchiol__section-lable">
    <span></span>
    <p>Ready to see what your skin trying to tell you?</p>
  </div>
</section>

{% schema %}
{
  "name": "Bakuchiol Price",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product",
          "info": "Choose a product to display its price and compare-at price"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bakuchiol Price",
      "category": "Product",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}



