{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
   <div class="footer-flower footer-flower--footer">
    <div class="footer-flower__clip">
      <img
        src="{{ 'bakuchiol-flower.jpeg' | asset_url }}"
        width="700"
        height="2100"
        loading="lazy"
        alt="Bakuchiol flower used as a gentle plant-derived skincare active"
        class="footer-flower__img"
      >
    </div>
  </div>
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        <div class="footer__content-top-actions">
          <div class="footer__content-logo">
            <a href="{{ routes.root_url }}" class="footer__content-logo-link">
              {%- if settings.logo != blank -%}
                <img
                  width="400"
                  height="55"
                  src="{{ settings.logo | image_url: width: 200 }}"
                  alt="{{ shop.name | escape }}"
                  class="header__heading-logo"
                  loading="lazy"
                >
              {%- else -%}
                {{ shop.name }}
              {%- endif -%}
            </a>
          </div>
<a class="footer__content-product-link button-custom button-custom__white" href="/collections/frontpage">
  SHOP NOW
</a>

          {% comment %} <a href="/" class="footer__content-product-link button-custom  button-custom__white ">Try Now</a> {% endcomment %}
        </div>
        <div class="footer-custom__wrapper">
          <div class="footer-custom__content">
            {%- if section.blocks.size > 0 -%}
              {%- liquid
                if section.blocks.size == 9
                  assign footer_grid_class = 'grid--3-col-tablet'
                elsif section.blocks.size > 6
                  assign footer_grid_class = 'grid--4-col-desktop'
                elsif section.blocks.size > 4
                  assign footer_grid_class = 'grid--3-col-tablet'
                endif
              -%}
              <div
                class="footer__blocks-wrapper  {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                {% endif %}
              >
                <div
                  class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}
                >
                  {%- if section.settings.newsletter_enable -%}
                    <div class="footer-block__newsletter">
                      <div class="footer-newsletter-text">
                        <h2>newsletter</h2>
                        <h3>You read this far, might as well sign up.</h3>
                      </div>

                      {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                          <div class="field">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                               placeholder="john.doe@example.com"
                              {% comment %} placeholder="{{ 'newsletter.label' | t }}" {% endcomment %}
                              required
                            >
                            <label class="field__label" for="NewsletterForm--{{ section.id }}">
                              john.doe@example.com
                              {% comment %} {{ 'newsletter.label' | t }} {% endcomment %}
                            </label>
                            <button
                              type="submit"
                              class="newsletter-form__button field__button"
                              name="commit"
                              id="Subscribe"
                              aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                             sign up
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                              {{- form.errors.translated_fields.email | capitalize }}
                              {{ form.errors.messages.email -}}
                            </small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3
                            class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success"
                            tabindex="-1"
                            autofocus
                          >
                            <span class="svg-wrapper">
                              {{- 'icon-success.svg' | inline_asset_content -}}
                            </span>
                            {{- 'newsletter.success' | t }}
                          </h3>
                        {%- endif -%}
                      {%- endform -%}
                    </div>
                  {%- endif -%}

                  {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
                    <div class="footer__follow-on-shop">
                      {{ shop | login_button: action: 'follow' }}
                    </div>
                  {%- endif -%}
                </div>

                <div class="footer__custom-navigation">
                  {%- if section.settings.show_social and has_social_icons -%}
                    {%- render 'social-icons', class: 'footer__list-social' -%}
                  {%- endif -%}
                  {%- for block in section.blocks -%}
                    <div
                      class="footer__item-custom {% if block.type == 'text' %} footer-block--text-custom{% endif %} {% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {{ block.shopify_attributes }}
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {%- if block.settings.heading != blank -%}
                        <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                      {%- endif -%}

                      {%- case block.type -%}
                        {%- when '@app' -%}
                          {% render block %}
                        {%- when 'text' -%}
                          <div class="footer-block__details-content rte">
                            {{ block.settings.subtext }}
                          </div>
                        {%- when 'link_list' -%}
                          {%- if block.settings.menu != blank -%}
                            <ul class="footer-block__details-content list-unstyled">
                              {%- for link in block.settings.menu.links -%}
                                <li>
                                  <a
                                    href="{{ link.url }}"
                                    class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                                  >
                                    {{ link.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        {%- when 'brand_information' -%}
                          <div class="footer-block__brand-info">
                            {%- if settings.brand_image != blank -%}
                              {%- assign brand_image_height = settings.brand_image_width
                                | divided_by: settings.brand_image.aspect_ratio
                              -%}
                              <div
                                class="footer-block__image-wrapper"
                                style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                              >
                                {{
                                  settings.brand_image
                                  | image_url: width: 1100
                                  | image_tag:
                                    loading: 'lazy',
                                    widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                                    height: brand_image_height,
                                    width: settings.brand_image_width
                                }}
                              </div>
                            {%- endif -%}
                            {%- if settings.brand_headline != blank -%}
                              <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                            {%- endif -%}
                            {%- if settings.brand_description != blank -%}
                              <div class="rte">{{ settings.brand_description }}</div>
                            {%- endif -%}
                            {%- if block.settings.show_social and has_social_icons -%}
                              {%- render 'social-icons', class: 'footer__list-social' -%}
                            {%- endif -%}
                          </div>
                        {%- when 'image' -%}
                          <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                            {%- if block.settings.image != blank -%}
                              {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                              <div
                                class="footer-block__image-wrapper"
                                style="max-width: min(100%, {{ block.settings.image_width }}px);"
                              >
                                <img
                                  srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                                  src="{{ block.settings.image | image_url: width: 760 }}"
                                  alt="{{ block.settings.image.alt | escape }}"
                                  loading="lazy"
                                  width="{{ block.settings.image.width }}"
                                  height="{{ block.settings.image.height }}"
                                >
                              </div>
                            {%- else -%}
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                            {%- endif -%}
                          </div>
                      {%- endcase -%}
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
          </div>

          <div class="footer-custom__text">
            <svg width="1819" height="249" viewBox="0 0 1819 249" fill="none" xmlns="http://www.w3.org/2000/svg"> 
              <path d="M1651.94 6.225H1701.47V199.016H1818.55V241.959H1651.94V6.225ZM1464.02 181.648C1474.29 198.486 1490.58 206.895 1512.89 206.895C1528.2 206.895 1540.66 202.751 1550.27 194.445C1559.46 186.362 1566.24 176.402 1570.61 164.605C1574.75 153.013 1576.83 140.991 1576.83 128.541C1576.83 107.988 1572.67 88.4358 1564.38 69.8425C1556.3 51.4736 1538.68 42.3096 1511.59 42.3096C1501.52 42.3096 1492.13 44.718 1483.37 49.5143C1474.19 54.331 1466.33 62.5153 1459.75 74.1081C1456.47 79.578 1453.85 86.354 1451.87 94.4363C1449.69 101.865 1448.59 109.846 1448.59 118.377C1448.59 143.726 1453.73 164.83 1464 181.648H1464.02ZM1400.08 127.868C1400.08 102.743 1404.02 80.5372 1411.88 61.3112C1419.96 42.0851 1432.54 27.1043 1449.59 16.3891C1467.08 5.46984 1488.62 0 1514.2 0C1528.84 0 1542.74 2.40836 1555.85 7.20467C1569.83 12.2459 1581.86 19.6547 1591.92 29.4922C1602.41 39.5543 1610.72 52.4533 1616.85 68.1893C1622.97 83.9252 1626.03 103.049 1626.03 125.561C1626.03 145.012 1623.4 162.279 1618.15 177.361C1612.46 192.669 1604.82 205.445 1595.19 215.732C1585.35 226.223 1573.42 234.305 1559.44 239.999C1545.01 245.673 1529.49 248.531 1512.87 248.531C1490.13 248.531 1470.45 243.51 1453.83 233.448C1436.79 223.182 1423.88 209.834 1415.12 193.444C1410.53 184.485 1406.92 175.198 1404.3 165.585C1401.47 156.401 1400.04 146.686 1400.04 136.399V127.868H1400.08ZM1328.58 6.225H1378.11V241.979H1328.58V6.225ZM1118.02 6.225H1167.55V95.416H1259.7V6.225H1308.9V241.979H1259.7V136.399H1167.55V241.979H1118.02V6.225ZM888.125 93.7832C889.432 86.1295 891.739 78.0472 895.005 69.5159C900.476 54.2085 907.806 41.534 916.972 31.472C925.934 21.6344 937.183 13.8787 950.759 8.18435C957.088 5.77598 964.09 3.81664 971.746 2.2859C978.749 0.755164 986.384 0 994.713 0C1014.17 0 1031.11 3.71459 1045.55 11.1438C1060.63 18.7975 1072.33 28.737 1080.64 40.983C1089.38 54.1065 1094.52 68.4138 1096.05 83.9252H1046.53C1039.97 56.5965 1023.36 42.9423 996.673 42.9423C977.197 42.9423 962.008 50.4735 951.086 65.5564C940.368 80.4148 935.019 100.967 935.019 127.194L935.672 129.153C935.672 141.603 937.857 153.849 942.226 165.871C946.37 177.668 952.821 187.301 961.579 194.73C970.113 201.935 980.484 205.547 992.733 205.547C1022.03 205.547 1039.95 190.791 1046.53 161.279H1096.05C1093.22 177.892 1087.52 192.751 1079.01 205.874C1070.25 218.998 1058.78 229.264 1044.57 236.693C1029.91 244.571 1013.29 248.49 994.713 248.49C973.931 248.49 955.475 244.122 939.286 235.366C922.668 226.406 909.541 212.752 899.925 194.383C895.107 185.199 891.514 174.831 889.105 163.238C886.472 151.645 885.165 139.42 885.165 126.521L885.818 119.642C885.818 109.376 886.574 100.743 888.105 93.7424L888.125 93.7832ZM670.682 6.225H720.863V159.34C720.863 171.136 722.945 180.443 727.09 187.219C731.234 194.424 736.603 199.465 743.156 202.302C749.934 205.364 756.61 206.895 763.163 206.895C794.644 206.895 810.384 191.71 810.384 161.319V6.225H860.891V161.319C860.891 177.28 858.258 191.159 853.011 202.955C847.764 214.977 840.884 224.059 832.351 230.162C823.817 236.509 813.875 241.101 802.504 243.938C790.704 247 778.128 248.531 764.797 248.531C748.832 248.531 733.643 245.694 719.209 239.999C704.551 234.325 692.976 225.243 684.442 212.793C675.255 200.343 670.662 184.056 670.662 163.932V6.225H670.682ZM451.933 6.225H500.48V102.294L590.981 6.225H654.289L558.194 102.947L660.189 241.959H596.554L523.754 139.011L500.46 161.972V241.979H451.912V6.225H451.933ZM346.978 153.115L317.457 59.3314L286.957 153.115H346.978ZM289.264 6.225H346.325L429.619 241.979H375.825L361.064 193.444H274.157L257.436 241.979H205.623L289.264 6.225ZM110.202 201.649C120.246 201.649 128.677 199.016 135.455 193.771C142.233 188.526 145.622 180.443 145.622 169.504C145.622 157.911 142.131 149.829 135.129 145.236C128.351 140.644 120.266 138.358 110.855 138.358H47.5471V201.629H110.181L110.202 201.649ZM47.5471 98.355H107.568C117.837 98.355 125.717 96.0691 131.188 91.4769C136.864 86.8847 139.722 80.6597 139.722 72.7815C139.722 64.4747 137.211 58.1476 132.189 53.7595C127.167 49.3918 117.98 47.208 104.649 47.208H47.588V98.355H47.5471ZM0 241.979V6.225H116.102C131.413 6.225 143.968 8.63336 153.809 13.4297C164.302 18.4505 172.284 25.349 177.756 34.0844C183.002 42.6157 186.065 52.3308 186.943 63.2705C186.943 90.8034 177.429 108.09 158.402 115.071C170.651 119.234 179.818 126.765 185.942 137.685C191.842 148.4 194.802 160.748 194.802 174.729C194.802 179.545 194.353 184.015 193.496 188.179C192.618 192.546 190.332 198.241 186.616 205.221C182.247 213.752 176.449 220.63 169.243 225.876C161.811 231.345 152.849 235.387 142.356 237.999C131.862 240.612 119.838 241.938 106.282 241.938H0V241.979Z" fill="white" fill-opacity="0.1"/>
            </svg>
          </div>
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
      {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      },
       {
          "type": "product"
        }
    ]
  }
}
{% endschema %}
