{{ 'review-slider.css' | asset_url | stylesheet_tag }}

<section class="review-slider section-top">
  <div class="review-slider__wrapper page-width">
    <div class="review-slider__text">
      <h2 class="section-title-bakuchiol">Real Results. Real People.</h2>

      <div class="review-slider__btns">
        <button class="bakuchiol-slider__btn prev review-slider__btn--prev">
          <svg
            width="30px"
            height="30px"
            viewBox="-19.04 0 75.804 75.804"
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)"> <path id="Path_57" data-name="Path 57" d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z" fill="#ffffff"></path> </g> </g>
          </svg>
        </button>

        <button class="bakuchiol-slider__btn review-slider__btn--next">
          <svg
            width="30px"
            height="30px"
            viewBox="-19.04 0 75.804 75.804"
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)"> <path id="Path_57" data-name="Path 57" d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z" fill="#ffffff"></path> </g> </g>
          </svg>
        </button>
      </div>
    </div>

    <div class="review-slider__swiper-body">
      <div class="swiper review-slider__swiper">
        <div class="swiper-wrapper review-slider__swiper-wrapper">
          <div class="swiper-slide">
            <div class="review-slider__slide">
              <div class="review-slider__slide-top">
                <div class="review-slider__slide-image">
                  <img
                    src="{{ 'bakuchiol-price.png' | asset_url }}"
                    width="100"
                    height="100"
                    alt="Bakuchiol Skin Bakuchiol Age Delay Serum"
                  >
                </div>
                <p class="review-slider__slide-name">Sophie</p>
              </div>

              <div class="review-slider__slide-review">
                <div class="review-slider__slide-review-content">
                  <span class="review-slider__slide-review-title">Better than retinol</span>

                  <p>
                    I switched to bakuchiol because retinol always irritated me. This one is so gentle but still legit
                    works — my under eyes look smoother, and the little fine lines around my mouth don’t crease as
                    sharply. Even my boyfriend noticed lol.
                  </p>
                </div>

                <div class="review-slider__slide-stars">
                  {% for i in (1..5) %}
                    <span class="review-slider__slide-star">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                        <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                      </svg>
                    </span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="review-slider__slide">
              <div class="review-slider__slide-top">
                <div class="review-slider__slide-image">
                  <img
                    src="{{ 'bakuchiol-price.png' | asset_url }}"
                    width="100"
                    height="100"
                    alt="Bakuchiol Skin Bakuchiol Age Delay Serum"
                  >
                </div>
                <p class="review-slider__slide-name">Matthew</p>
              </div>

              <div class="review-slider__slide-review">
                <div class="review-slider__slide-review-content">
                  <span class="review-slider__slide-review-title">Actually shocked at the difference</span>

                  <p>
                    I wasn’t expecting much but this seriously smoothed out the little lines under my eyes. My skin
                    looks fresher and less tired, and it didn’t irritate me at all like retinol did. I’ve been using it
                    every night for about two weeks and it’s already a staple.
                  </p>
                </div>

                <div class="review-slider__slide-stars">
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="review-slider__slide">
              <div class="review-slider__slide-top">
                <div class="review-slider__slide-image">
                  <img
                    src="{{ 'bakuchiol-price.png' | asset_url }}"
                    width="100"
                    height="100"
                    alt="Bakuchiol Skin Bakuchiol Age Delay Serum"
                  >
                </div>
                <p class="review-slider__slide-name">Rachel</p>
              </div>

              <div class="review-slider__slide-review">
                <div class="review-slider__slide-review-content">
                  <span class="review-slider__slide-review-title">My skin looks smoother already</span>

                  <p>
                    Only been using it for about 10 days and I can literally see a difference. My skin tone looks more
                    even and that little crease under my right eye looks softer. Not oily, not heavy — just works. I’m
                    impressed.
                  </p>
                </div>

                <div class="review-slider__slide-stars">
                  {% for i in (1..5) %}
                    <span class="review-slider__slide-star">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                        <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                      </svg>
                    </span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="review-slider__slide">
              <div class="review-slider__slide-top">
                <div class="review-slider__slide-image">
                  <img
                    src="{{ 'bakuchiol-price.png' | asset_url }}"
                    width="100"
                    height="100"
                    alt="Bakuchiol Skin Bakuchiol Age Delay Serum"
                  >
                </div>
                <p class="review-slider__slide-name">Angela</p>
              </div>

              <div class="review-slider__slide-review">
                <div class="review-slider__slide-review-content">
                  <span class="review-slider__slide-review-title">My skin LOVES this</span>

                  <p>
                    I started using bakuchiol because my skin is sensitive and breaks out with most anti-aging stuff.
                    This one is so gentle but still does something, my cheeks look firmer and the texture is way more
                    even. I wake up looking glowy instead of dull.
                  </p>
                </div>

                <div class="review-slider__slide-stars">
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="review-slider__slide">
              <div class="review-slider__slide-top">
                <div class="review-slider__slide-image">
                  <img
                    src="{{ 'bakuchiol-price.png' | asset_url }}"
                    width="100"
                    height="100"
                    alt="Bakuchiol Skin Bakuchiol Age Delay Serum"
                  >
                </div>
                <p class="review-slider__slide-name">Haley</p>
              </div>

              <div class="review-slider__slide-review">
                <div class="review-slider__slide-review-content">
                  <span class="review-slider__slide-review-title">Lines around my eyes are softer</span>

                  <p>
                    I’m 32 and just started noticing fine lines at the outer corners of my eyes. This serum has helped
                    so much. They’re still there (obviously) but way less harsh, and my makeup creases way less during
                    the day. Super lightweight and doesn’t feel sticky.
                  </p>
                </div>

                <div class="review-slider__slide-stars">
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="review-slider__slide">
              <div class="review-slider__slide-top">
                <div class="review-slider__slide-image">
                  <img
                    src="{{ 'bakuchiol-price.png' | asset_url }}"
                    width="100"
                    height="100"
                    alt="BakuchiolRx Bakuchiol Age Delay Serum"
                  >
                </div>
                <p class="review-slider__slide-name">Linda</p>
              </div>

              <div class="review-slider__slide-review">
                <div class="review-slider__slide-review-content">
                  <span class="review-slider__slide-review-title">Way better than the expensive stuff I tried</span>

                  <p>
                    I used to buy $80+ serums and honestly this works better for me. My forehead looks smoother,
                    especially the little texture bumps I’d get. It’s hydrating without being oily and just makes
                    everything look more… refined? Definitely keeping this in my routine.
                  </p>
                </div>

                <div class="review-slider__slide-stars">
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                  <span class="review-slider__slide-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 122.88 117.1">
                      <path fill="#FFC107" class="cls-1" d="M64.42,2,80.13,38.7,120,42.26a3.2,3.2,0,0,1,1.82,5.62h0L91.64,74.18l8.9,39A3.19,3.19,0,0,1,98.12,117a3.27,3.27,0,0,1-2.46-.46L61.41,96.1,27.07,116.64a3.18,3.18,0,0,1-4.38-1.09,3.14,3.14,0,0,1-.37-2.38h0l8.91-39L1.09,47.88a3.24,3.24,0,0,1-.32-4.52,3.32,3.32,0,0,1,2.29-1l39.72-3.56L58.49,2a3.24,3.24,0,0,1,5.93,0Z"/>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperReview = new Swiper('.review-slider__swiper', {
      spaceBetween: 20,
      slidesPerView: 1,
      speed: 800,

      navigation: {
        nextEl: '.review-slider__btn--next',
        prevEl: '.review-slider__btn--prev',
      },

      breakpoints: {
        767: {
          spaceBetween: 20,
          slidesPerView: 2,
          speed: 800,
        },

        1023: {
          spaceBetween: 0,
          slidesPerView: 2,
          speed: 800,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Review Slider",
  "settings": [],
  "presets": [
    {
      "name": "Review Slider"
    }
  ]
}
{% endschema %}
